{{ 'banner.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function dropDown() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.toggle("show");
  }

  function dropDownClose() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.remove("show");
  }
{% endjavascript %}

<div class="banner-layout">
  {% for block in section.blocks %}
    <!-- first section of the banner  -->
    <div class="banner-section-1">
      <div class="mobile-dropdown">
          <button class="dropbtn" onclick="dropDown()">
            <span class="dropbtn-icon">
              {{- 'mobile-dropdown.svg' | inline_asset_content -}}
            </span>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-exit" onclick="dropDownClose()">
              {{- 'icon-exit.svg' | inline_asset_content -}}
            </div>
            <div class="dropdown-item">
              <div class="banner-title">
                <h1 class="banner-title-text">
                  {{ block.settings.banner-text }}
                </h1>
              </div>
            </div>
            <div class="dropdown-item">
              <button class="giftbtn-text">
                {{ block.settings.banner-button-text }}
                <span class="arrow-svg-wrapper">
                  {{- 'button-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </div>
      </div>
      <div class="banner-logo">
        <div class="banner-logo-text">
          {{ block.settings.banner-logo }}
        </div>
      </div>
      <div class="banner-title">
        <div class="banner-title-text">
          {{ block.settings.banner-title }}
        </div>
      </div>
      <div class="banner-button">
        <button class="giftbtn-text">
          {{ block.settings.banner-giftbutton-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </div>

    <!-- second section of the banner with full image  -->
    <img class="banner-image" src="{{ 'image-banner.svg' | asset_url }}" width="" height="">

    <!-- third section of the banner with title, paragraph, button, and image -->
    <div class="banner-section-3">
      <div class="banner-subsection-3">
        <h1 class="banner-title-2">
          {{ block.settings.banner-title-2 }}
        </h1>
        <p class="paragraph-text">
          {{ block.settings.banner-paragraph }}
        </p>
        <button class="shopbtn-text">
          {{ block.settings.banner-shoptbutton-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow-white.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <img class="second-banner-image" src="{{ 'second-banner-image.svg' | asset_url }}" width="" height="">
    </div>

    <!-- final section of the banner with clothes characteristics -->
    <div>
      <h1 class="banner-section-4">
        {{ block.settings.banner-section-4 }}
      </h1>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [],
    "presets": [
      {
        "name": "banner"
      }
    ],
    "blocks": [
      {
        "name": "Banner",
        "type": "text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "banner-logo",
            "label": "Banner logo"
          },
          {
            "type": "text",
            "id": "banner-title",
            "label": "Banner title"
          },
          {
            "type": "text",
            "id": "banner-giftbutton-text",
            "label": "Gift Button text"
          },
          {
            "type": "url",
            "id": "banner-giftbutton-url",
            "label": "Gift Button URL"
          },
          {
            "type": "text",
            "id": "banner-title-2",
            "label": "Banner title 2"
          },
          {
            "type": "text",
            "id": "banner-paragraph",
            "label": "Banner paragraph"
          },
          {
            "type": "text",
            "id": "banner-shoptbutton-text",
            "label": "Shop Button text"
          },
          {
            "type": "url",
            "id": "banner-shopbutton-url",
            "label": "Shop Button URL"
          },
          {
            "type": "text",
            "id": "banner-section-4",
            "label": "Banner section 4"
          }        
        ]
      },
      {
        "name": "test",
        "type": "test",
        "settings": []
      }
    ]
  }
{% endschema %}