{{ 'banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'banner-grid.js' | asset_url }}" defer="defer"></script>

{% javascript %}
  function dropDown() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.toggle("show");
  }

  function dropDownClose() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.remove("show");
  }
{% endjavascript %}

<div class="banner-layout">
  {% for block in section.blocks %}
    <!-- first section of the banner  -->
    <div class="banner-section-1">
      <div class="mobile-dropdown">
        <div class="popup" id="popup-1">
          <div class="overlay"></div>
          <div class="content" style="width:350px; height: 200px; transform: translate(-1%, -80%) scale(1);">
            <div class="close-btn" onclick="togglePopup()">
              <div class="dropdown-exit">
                {{- 'icon-exit.svg' | inline_asset_content -}}
              </div>
            </div>
            <div class="dropdown-item">
              <div class="mobile-banner-title">
                <div class="banner-title-text">
                  {{ block.settings.mobile-banner-title  }}
                </div>
              </div>
            </div>
            <div class="dropdown-item">
              <button class="giftbtn-text">
                {{ block.settings.mobile-banner-giftbutton-text }}
                <span class="arrow-svg-wrapper">
                  {{- 'button-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </div>
       </div>
       <button onclick="togglePopup()">
         <span class="dropbtn-icon">
           {{- 'icon-mobile-dropdown.svg' | inline_asset_content -}}
         </span>
       </button>
      </div>
      <div class="banner-logo">
        <div class="banner-logo-text">
          {{ block.settings.banner-logo }}
        </div>
      </div>
      <div class="banner-title">
        <div class="banner-title-text">
          {{ block.settings.banner-title }}
        </div>
      </div>
      <div class="banner-button">
        <button class="giftbtn-text">
          {{ block.settings.banner-giftbutton-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </div>

    <!-- second section of the banner with full image  -->
    <img class="banner-image" src="{{ 'image-banner.svg' | asset_url }}" width="" height="">

    <!-- third section of the banner on mobile view -->
     <h1 class="banner-title-2 mobile-title">
          {{ block.settings.banner-title-2 }}
        </h1>
        <p class="paragraph-text mobile-paragraph">
          {{ block.settings.mobile-banner-paragraph }}
        </p>

    <!-- third section of the banner with title, paragraph, button, and image -->
    <div class="banner-section-3">
      <div class="banner-subsection-3">
        <h1 class="banner-title-2">
          {{ block.settings.banner-title-2 }}
        </h1>
        <p class="paragraph-text">
          {{ block.settings.banner-paragraph }}
        </p>
        <button class="shopbtn-text">
          {{ block.settings.banner-shoptbutton-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow-white.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <img class="second-banner-image" src="{{ 'second-banner-image.svg' | asset_url }}" width="" height="">
      <button class="shopbtn-text mobile-btn">
          {{ block.settings.banner-shoptbutton-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow-white.svg' | inline_asset_content -}}
          </span>
        </button>
    </div>

    <!-- final section of the banner with clothes characteristics -->
    <div>
      <h1 class="banner-section-4">
        {{ block.settings.banner-section-4 }}
      </h1>
      <h1 class="mobile-banner-section-4">
        {{ block.settings.mobile-banner-section-4 }}
      </h1>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [],
    "presets": [
      {
        "name": "banner"
      }
    ],
    "blocks": [
      {
        "name": "Banner",
        "type": "text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "banner-logo",
            "label": "Banner logo"
          },
          {
            "type": "text",
            "id": "banner-title",
            "label": "Banner title"
          },
          {
            "type": "text",
            "id": "mobile-banner-title",
            "label": "Mobile banner title"
          },
          {
            "type": "text",
            "id": "banner-giftbutton-text",
            "label": "Gift Button text"
          },
          {
            "type": "text",
            "id": "mobile-banner-giftbutton-text",
            "label": "Mobile gift Button text"
          },
          {
            "type": "url",
            "id": "banner-giftbutton-url",
            "label": "Gift Button URL"
          },
          {
            "type": "text",
            "id": "banner-title-2",
            "label": "Banner title 2"
          },
          {
            "type": "text",
            "id": "banner-paragraph",
            "label": "Banner paragraph"
          },
          {
            "type": "text",
            "id": "mobile-banner-paragraph",
            "label": "Mobile banner paragraph"
          },
          {
            "type": "text",
            "id": "banner-shoptbutton-text",
            "label": "Shop Button text"
          },
          {
            "type": "url",
            "id": "banner-shopbutton-url",
            "label": "Shop Button URL"
          },
          {
            "type": "text",
            "id": "banner-section-4",
            "label": "Banner section 4"
          },
          {
            "type": "text",
            "id": "mobile-banner-section-4",
            "label": "Mobile banner section 4"
          }
        ]
      },
      {
        "name": "test",
        "type": "test",
        "settings": []
      }
    ]
  }
{% endschema %}