{{ 'banner.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function dropDown() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.toggle("show");
  }

  function dropDownClose() {
    var dropdown = document.getElementById("dropdown-content");
    dropdown.classList.remove("show");
  }
{% endjavascript %}

<div class="banner">
  {% for block in section.blocks %}
    <!-- first section of the banner  -->
    <div class="banner-section-1">
      <div class="banner-logo">
        <div class="mobile-dropdown">
          <button class="dropbtn" onclick="dropDown()">
            <span class="dropbtn-icon">
              {{- 'mobile-dropdown.svg' | inline_asset_content -}}
            </span>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-exit" onclick="dropDownClose()">
              {{- 'icon-exit.svg' | inline_asset_content -}}
            </div>
            <div class="dropdown-item">
              <div class="banner-title">
                <h1 class="banner-title-text">
                  {{ block.settings.banner-text }}
                </h1>
              </div>
            </div>
            <div class="dropdown-item">
              <button class="giftbtn-text">
                {{ block.settings.banner-button-text }}
                <span class="arrow-svg-wrapper">
                  {{- 'button-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </div>
        </div>
        <h1 class="banner-logo-text">
          {{ block.settings.banner-logo }}
        </h1>
      </div>
      <div class="banner-title">
        <h1 class="banner-title-text">
          {{ block.settings.banner-text }}
        </h1>
      </div>
      <div class="banner-button">
        <button class="shopbtn-text">
          {{ block.settings.banner-button-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </div>

    <!-- second section of the banner with full image  -->
    <img class="banner-image" src="{{ 'image-banner.svg' | asset_url }}" width="" height="">

    <!-- third sectiob of the banner with title, paragraph, button, and image -->
    <div class="banner-section-3">
      <div class="banner-subsection-3">
        <h1>
          {{ block.settings.banner-text }}
        </h1>
        <p class="paragraph-text">
          {{ block.settings.banner-paragraph-text }}
        </p>
        <button class="button-text">
          {{ block.settings.banner-button-text }}
          <span class="arrow-svg-wrapper">
            {{- 'button-arrow.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <img class="banner-image" src="{{ 'image-banner.svg' | asset_url }}" width="" height="">
    </div>

    <!-- final section of the banner with clothes characteristics -->
    <div class="banner-section-4">
      <h1>
        {{ block.settings.banner-text }}
      </h1>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [],
    "presets": [
      {
        "name": "banner"
      }
    ],
    "blocks": [
      {
        "name": "Banner logo",
        "type": "text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "banner-logo",
            "label": "Banner logo"
          },
          {
            "type": "text",
            "id": "banner-heading",
            "label": "Banner heading"
          }
        ]
      },
      {
        "name": "Button",
        "type": "button",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "banner-button-text",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "banner-button-url",
            "label": "Button URL"
          }
        ]
      },
      {
        "name": "Banner paragraph",
        "type": "textarea",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "banner-paragraph-text",
            "label": "Paragraph text"
          }
        ]
      },
      {
        "name": "Banner image",
        "type": "image",
        "limit": 2
      }
    ],
  }
{% endschema %}