{{ 'grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'grid.js' | asset_url }}" defer="defer"></script>

<h1 class="grid-title">
      {{ section.settings.grid-title }}
    </h1>

<div class="product-grid">
  {% for block in section.blocks %}
    <div>
      <img class="grid-image" src="{{ block.settings.grid-image | image_url }}" width="100px" height="100px">
      <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
          <div class="close-btn" onClick="togglePopup()">
            {{- 'icon-exit.svg' | inline_asset_content -}}
          </div>
          {% for product in collections['products'].products %}
          <div class="popup-images">
            <div class="popup-image">
              <img src="{{ product.featured_image | image_url }}" width="50px" height="50px">
            </div>
            <div class="product-info">
              <span class="product-title">
                {{ product.title }}
              </span>
              <span class="product-price">
                {{ product.price | money }}
              </span>
              <span class="product-description">
                {{ product.description }}
              </span>
            </div>
          </div>
          {% form 'product', product %}
            <div class="product-variants">
              <select name="id">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
              <button type="submit" class="addToCart-btn">
                Add To Cart
                <span class="arrow-svg-wrapper">
                  {{- 'button-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          {% endform %}
        {% endfor %}
        </div>
      </div>
      <div class="icon-popup arrow-svg-wrapper" onClick="togglePopup()">
        {{- 'icon-popup.svg' | inline_asset_content -}}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Grid",
    "settings": [
      {
        "type": "text",
        "id": "grid-title",
        "label": "Grid title",
        "default": "Tisso Vison in the wild"
     }
    ],
    "presets": [
      {
        "name": "grid"
      }
    ],
    "blocks": [
      {
        "name": "Grid image",
        "type": "image_picker",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
        ]
      }
    ]
  }
{% endschema %}