{{ 'grid.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function openPopup() {
    var popup = document.getElementById("productPopup");
    popup.classList.toggle("show");
  }

  function closePopup() {
    var popup = document.getElementById("productPopup");
    popup.classList.remove("show");
  }
{% endjavascript %}

<h1 class="grid-title">
      {{ section.settings.grid-title }}
    </h1>

<div class="product-grid">
  {% for block in section.blocks %}
    <div>
      <div class="grid-image">
        {{ section.settings.grid-image | image_url }}
      </div>
      <div class="arrow-svg-wrapper" onclick="openPopup()">
        {{- 'icon-popup.svg' | inline_asset_content -}}
      </div>
    </div>
    <div class="product-popup">
      <span class="popup-window" id="productPopup">
        <div class="popup-exit" onclick="closePopup()">
          {{- 'icon-exit.svg' | inline_asset_content -}}
        </div>
        {% for product in product %}
          <div class="popup-images">
            <div class="popup-image">
              <img src="{{ product.featured_image | image_url }}" width="50px" height="50px">
            </div>
            <div class="product-info">
              <span class="product-title">
                {{ product.title }}
              </span>
              <span class="product-price">
                {{ product.price | money }}
              </span>
              <span class="product-description">
                {{ product.description }}
              </span>
            </div>
          </div>
          {% form 'product', product %}
            <div class="product-variants">
              <select name="id">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
              <button type="submit" class="addToCart-btn">
                Add To Cart
                <span class="arrow-svg-wrapper">
                  {{- 'button-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          {% endform %}
        {% endfor %}
      </span>
    </div>
  {% endfor %}
  
</div>

{% schema %}
  {
    "name": "Grid",
    "settings": [
      {
            "type": "text",
            "id": "grid-title",
            "label": "Grid title"
          },
      {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
    ],
    "presets": [
      {
        "name": "grid"
      }
    ],
    "blocks": [
      {
        "name": "Grid image",
        "type": "image_picker",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
        ]
      }
    ]
  }
{% endschema %}